
@media (max-width: 450px) {

  .loginMainContainer {
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .loginMainContainer img {
    margin: 5vh 0 0 0;
    padding: 7px;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 0 0 1px rgb(14, 190, 161) , 0 0 10px rgb(0, 0, 0) , 0 0 0 rgb(0, 0, 0) , 0 0 0.8rem -5px rgb(12, 196, 190) , 0 0 2.4rem -5px rgb(15, 184, 173) , inset 0 0 0 rgb(0, 0, 0);
  }

  .loginMainContainer .form {
    margin: 15vh 0 0 0;
    width: 250px;
    display: flex;
    flex-direction: column;
  }








}