@media (max-width: 450px) {
  .musicCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .musicCard a {
    padding: 0;
    margin: 0;
    width: 80%;
  }

  .trackInfoContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .trackInfoContainer div {
    margin-left: 25px;
  }

  .trackInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .trackInfo p {
    margin: 0;
    margin-bottom: 5px;
  }

  .num {
    width: 10px;
  }

  .artistSubTitle {
    color: rgba(255, 255, 255, 0.609);
  }

  .artistImage img {
    max-width: 80vw;
    min-height: 35vh;
  }
}